
$color-modal:rgba(0, 0, 0, 0.300);
$color-item-menu:rgba(0, 0, 0, 0.05);

$color-primary-100: #f4f7fc;
$color-primary-200: #cee0fc;
$color-primary-300: #a9cafd;
$color-primary-400: #84b3fe;
$color-primary-500: #5f9dfe;
$color-primary-600: #2471eb;
$color-primary-700: #1a66e1;
$color-primary-800: #0f5cd7;
$color-primary-900: #0451cd;
$color-primary-main: #2f7bf5;

$color-secondary-main: #ffbf00;

$background-light-default: #fafafa;
$background-light-surface: #ffffff;
$background-light-selected: #048dff;

$color-text-light-base2: #5a5a5a;
$color-text-light-selected: #464646;

$color-gray-100: #f6f8ff;
$color-gray-200: #dadce5;
$color-gray-300: #bec1ca;
$color-gray-400: #a2a5b0;
$color-gray-500: #868a95;
$color-gray-700: #5b5e69;
$color-gary-800: #3d3e44;
$color-gray-900: #2e2f32;

$color-error-main: #bf0f0f;
$color-error-200: #fad5d5;
$color-error-900: #ac1c1e;
$color-error-700: #dd2c2f;

$color-info-main: #ffbf00;

$color-warning-200: #fee6cf;
$color-warning-main: #f7953b;

$color-success-200: #92e6a7;
$color-success-main: #25a244;